main {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:Center;
    align-items: center;
    min-height: 100vh; /* Center the container vertically on the page */
    background-image: url(Images/footer.png);
    background-size: contain;
    background-position:  left bottom;
    background-repeat: no-repeat; /* Set the path to your background image */
    
}

.border-container {
    border: 2px solid #bdc5f3; /* Make the border thinner */
    padding: 20px; /* Add some padding inside the border */
    background-color: #fff; /* Set a background color inside the border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black !important;
}

.container {
    max-width: 400px;
    margin: 0; /* Remove auto margin for right alignment */
    margin-left: auto; /* Align the container to the right */
    padding: 20px;
    /*
    position: le;
    max-width: 400px;
    margin: 0 auto;*/
}

h1 {
    text-align: center;
}

#feedback-form {
    display: flex;
    flex-direction: column;
}


select, input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Ebutton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Ebutton:hover {
    background-color: #0056b3;
}

.star {
    justify-content: center;
    font-size: 24px;
    color: #ccc; /* Initial star color */
    cursor: pointer;
    transition: color 0.3s; /* Add color transition on hover */
}

.star:hover {
    color: #FFD700; /* Change star color on hover to gold/yellow */
}

.star.checked {
    color: #FFD700; /* Set the color for selected stars */
}

.rating {
    display: flex;
    align-items: center;
	justify-items: center;
	margin-left: 30px;
	margin-right: 30px;
}