 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100;1,500;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");


main {
    margin: 0;
    padding: 0;
    justify-content:center;
}



.wrapper {
    display: flex;
	 overflow-x: scroll; 
   max-width:25%;	
   margin: auto;


}



.child-box {
    border: 2px solid black;
    padding: 120px 100px;
    min-width: 300px;
    text-align: center;
    margin: 100px 20px 0 20px; /* Adjust the margin as needed to separate the profiles */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-image: url('Images/kidparent.png');
	background-size: cover;
	color: black;
	
	
}

.wrapper::-webkit-scrollbar{
	background-color:gray;
	border-radius: 10px;
	

}
.wrapper::-webkit-Scrollbar-thumb{
	background-color:white;
	border-radius: 10px;
}




	
	.child-box::before{

		content: "        Kid's Name      "  ;

font-size: 20px;

	  margin:auto;
	  justify-content: center;
	  text-align: center;

	}
    

    /* Style for the registered courses box */
    .registered-courses {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid black;
      border-radius: 3px;
      background-color: white;
    }

    /* Flex container for the boxes */
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: slategray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: auto;
}
   
    
	
	
    /* Style for each box */
    .box {
      flex: 10%;
      padding: 1px 1px 1px 1px;
      text-align: center ;
       margin:60px;
     padding: 10px 10px 10px 10px;
  background-color: white;
  color : hsl(212, 42%, 15%);
      border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 2%;
    margin-left: 2%;
    }
    
    
    .box a:hover{  
      
    color : hsl(212, 42%, 15%); ; 
    font-weight: bold;

    }
    
    .Ee-image{

    width:100%;
    height:90%;

    }