/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary--color: #f2f2f2;
    --secondry--color: black;
}

.dark-mode {
    --primary--color: #221d45;
    --secondry--color: white;
}

body {
    background-color: var(--primary--color) !important;
    color: var(--secondry--color) !important;
    transition: background-color 0.5s, color 0.5s;
}





/* Styles for dark mode */
.dark-mode #theme-toggle i {
    color: black; /* Change icon color for dark mode */
}

#theme-switcher{
    position:absolute;
    top:120px;
    margin-right:0;
}
#theme-toggle {
    border-radius: 15px;
    width: 120px;
    height: 34px;
    padding: 5px;
}

#mode-text {
    margin-left: 8px;
}

.dark-mode #mode-text {
    color: black; /* Change text color for dark mode */
}

#mode-text:hover {
    color: red;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    #theme-switcher {
        top: 180px; /* Adjust the top position for smaller screens */
    }



    #mode-text {
        margin-left: 4px; /* Adjust the margin for smaller screens */
    }
}


header {
    background-color: #2d2a30;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
}


.logo {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
}


header span {
    color: #655eb1;
    font-weight: bold;
}



.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 60px;
}


    .navigation a:hover {
        color: rgb(238, 8, 8);
        font-weight: bolder;
    }


.breadcrumbs {
    top: 10px;
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 100px 0 10px; /* Add top margin to create separation */
    color: var(--secondry--color);
    z-index: 998;
}

    .breadcrumbs a {
        text-decoration: none;
        color: #0077FF;
        margin: 0 5px;
    }

        .breadcrumbs a:hover {
            text-decoration: underline;
        }


/* Responsive Styles */
/*@media screen and (max-width: 768px) {
    .breadcrumbs {
        font-size: 3vw; /* Adjust as needed *
        margin: 5vh 0 1vh; /* Adjust as needed *
    }

        .breadcrumbs a {
            margin: 0 1vw; /* Adjust as needed *
        }
}*/



/* Laptop (15-inch) */
@media (min-width: 1024px) and (max-width: 1440px) {
    header {
        padding: 1vh 4vw;
    }

    .logo {
        font-size: 32px;
        padding-left: 2vw;
    }

    .navigation a {
        font-size: 1.1em;
        padding-left: 4vw;
    }
}

/* iPhone */
@media (max-width: 375px) {
    header {
        padding: 2vh 4vw;
    }

    .logo {
        font-size: 24px;
        padding-left: 4vw;
    }

    .navigation a {
        font-size: 1em;
        padding-left: 2vw;
    }

}

/* The footer */

footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }

}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    border-radius: 30px;
}

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 30%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }


        .footer-distributed h3 span {
            color: #655eb1;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #e0ac1c;
                text-decoration: none;
            }

    /* Footer Right */

    .footer-distributed .footer-right {
        width: 30%;
    }

    .footer-distributed .footer-subscribe {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-subscribe span {
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

            .footer-distributed .footer-icons a:hover {
                background-color: #3F71EA;
            }

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}


.footer-company-about {
    display: flex;
    margin-top: 10px;
}

.subscribe-form input {
    padding: 40px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.subscribe-form button {
    background-color: #43425b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#email {
    padding: 9px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#fbutton {
    background-color: #1100ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 4vw;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}
